<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.fao.sola.clients.android.opentenure"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@drawable/sola_logo"
        android:label="@string/app_name"
        android:name="org.fao.sola.clients.android.opentenure.OpenTenureApplication"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.fao.sola.clients.android.opentenure.SplashScreen"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.fao.sola.clients.android.opentenure.OpenTenure"
            android:theme="@style/Theme.Opentenure"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="org.fao.sola.clients.android.opentenure.ClaimActivity"
            android:theme="@style/Theme.Opentenure"
            android:label="@string/title_activity_claim" >
        </activity>
        <activity
            android:name="org.fao.sola.clients.android.opentenure.FileChooserActivity"
            android:label="@string/title_activity_file_chooser" >
        </activity>
        <activity
            android:name="com.ipaulpro.afilechooser.FileChooserActivity"
            android:enabled="@bool/use_activity"
            android:exported="true"
            android:icon="@drawable/ic_action_attachment"
            android:label="@string/choose_file" >
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
    </application>

</manifest>